@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bree+Serif&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .apresentacao {
        margin: 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Bree Serif', serif;
    }

img {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: 0% 0% 17.4%;
}

h1 {
    color: gold;
    font-size: 2cm;
    padding: 0;
    font-family: 'Black Ops One', system-ui;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: 0% 0% 0%;
}

h2 {
    color: white;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: 0% 0% 0%;
    font-size: 20px;
}

ul {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: 2% 0% 4%;
}

li {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: 0.7% 0.7% 0.7%;
}

p {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

a {
    color: white;
    font-family: 'Bree Serif', serif;
}

.piores {
    color: yellow;
}

button {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;

}
button:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

button {
    color:blueviolet;
    background-color:rgb(207, 248, 245);
    font-family: 'Bree Serif', serif;
    width: 230px;
    text-align: center;
    border-radius: 15px;
    padding: 5px 0;
    font-size: 17px;
}
 
.apresentacao__site {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: 10% 0% 0%;
    font-size: 17px;
}

.sobre__o__time__cor { 
    color: yellow;
}

.rodrigordo {
    color:yellow;
}

.primeira__parte {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: 6.5% 0.7% 0.7%;
}
